style.
  .bold { font-weight: bold; }
  ul { padding: 0; }
  li.even { background: #eee; }
  .container > .row > div { padding: 10px; }
h1 Edit Recipe

table.table
  tr
    td(colspan="5")
      span Recipe &nbsp;
      input(
        ng-model="recipe.name"
        placeholder="Recipe Name")
  tr(ng-if="!id")
    td(colspan="2")
      textarea(ng-model="paragraph_text")
      button(ng-click="parse(paragraph_text)") Parse

  tr
    td
      button.pull-right.btn-xs.btn.btn-success(
        style="margin-left: 10px;"
        ng-click="addStep(new_step); new_step = '';") + Add
      input.pull-right(ng-model="new_step")
  tr
    td
      ul(dnd-list="recipe.steps")
        li(
          style="clear:left; margin-bottom: 10px; list-style-type: none;"
          ng-class="{ 'even': $even, odd: $odd }"
          ng-init="edit=false"
          ng-repeat="step in recipe.steps"
          dnd-draggable="step"
          dnd-effect-allowed="copyMove"
          dnd-moved="removeOriginal(event, $index)")
          .container(style="width:100%;")
            .row
              .col-md-2.col-sm-2(dnd-nodrag="true")
                button.btn.btn-xs.btn-primary(ng-click="edit=!edit")
                  span(ng-show='!edit') Edit
                  span(ng-hide='!edit') Done
              .col-md-8.col-sm-8(dnd-nodrag="true")
                .row
                  .col-md-6.col-sm-6
                    span(ng-hide='edit') {{plain_text(step)}}
                  .col-md-6.col-sm-6
                    span(ng-hide='edit')
                      span {{step.amounts.join(' ')}} 
                      span.bold {{step.measurements.join(' ')}} 
                      span {{step.ingredients.join(' ')}}
                  .col-md-12.col-sm-12
                    editable-step(step='step' ng-show='edit')
              .col-md-2.col-sm-2
                .row
                  .col-md-6.col-sm-6(dnd-nodrag="true")
                    button.btn.btn-danger.btn-xs(ng-click='destroy_step(step)') Delete
                  .col-md-6.col-sm-6
                    span.fa.fa-reorder(style="cursor: move; margin-right: 30px;")


button.btn.btn-primary(
  ng-hide="!id"
  ng-click="update_recipe()") Update Recipe

button.btn.btn-primary(
  ng-hide="id || creating"
  ng-click="create_recipe()") Save Recipe
button.btn.btn-disabled(
  ng-show="creating && id"
  ng-click="create_recipe()") Saving...
button(
  class="pull-right btn btn-danger"
  ng-click="destroy(id)"
  ng-if="id") Delete